header {
    background-color: #D8DBE2;
    display: inline-flex;
    align-items: center;
    width: 100%;

}

header a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    padding-right: 4px;
    justify-content: right;
}

main h1, h2, p, a {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 200px;
    padding-right: 200px;
}

.hero div {
    position: relative;
}

.hero img {
    justify-content: right;
    display: block;
    margin: auto;
}

.hero2 img {
    justify-content: center;
    display: flex;
    margin: auto;
    padding-bottom: 30px;
}

footer {
    background-color: #373F51;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    color: white;
}

.sociallinks a{
    display: contents;
    text-decoration: none;
}

.sociallinks img {
    padding-right: 15px;
}